*{
    box-sizing: border-box;
    font-family: Arial;
}

#button_div{
    margin: 5px;
}

#button_div button{
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 3px solid;
    border-radius: 10px;
    background-color: rgb(0,255,0);
    cursor: pointer;
}

#button_div button:hover{
    background-color: rgb(0, 216, 0);
}

#button_div button:active{
    background-color: rgb(0, 182, 0);
}

#canvas{
    display: block;
    margin: auto;
    width: 80vw;
    height: 40vw;

    border: 10px solid;
    border-radius: 30px;
}